tr,td{
    border: solid 10px black;
    width: 320px;
    height: 320px;

}
table{
    margin-left: 5%;
    
    border: 10px solid black;
    width: auto;
    height: auto;
    border-spacing: none;
    border-collapse: collapse;
}
img{
    height: 100%;
    width: 100%;
}
figure{
    height: 100%;
    width: 100%;
margin: 0;
}
