
img{
    margin-left: 30%;
    position: absolute;
    width: 640px;
    height: 640px;  
} 
 
.one{
    
    animation: mix1  linear 5s infinite ;
} 
.two{
  
    animation:mix2 linear 5s infinite;
} 
.three{
 
    animation:mix3 linear 5s infinite;
} 
.four{
  
    animation:mix4 linear 5s infinite;
} 
.five{
    
    animation:mix5 linear 5s infinite;
} 
@keyframes mix1 {
0%{opacity: 1;}
25%{opacity: 0;}
50%{opacity: 0;}
75%{opacity: 0;}
100%{opacity: 0;}
}
@keyframes mix2 {
    0%{opacity: 0;}
    25%{opacity: 1;}
    50%{opacity: 0;}
    75%{opacity: 0;}
    100%{opacity: 0;}
}
@keyframes mix3 {
    0%{opacity: 0;}
    25%{opacity: 0;}
    50%{opacity: 1;}
    75%{opacity: 0;}
    100%{opacity: 0;}
}
@keyframes mix4 {
    0%{opacity: 0;}
25%{opacity: 0;}
50%{opacity: 0;}
75%{opacity: 1;}
100%{opacity: 0;}
}
@keyframes mix5 {
    0%{opacity: 0;}
    25%{opacity: 0;}
    50%{opacity: 0;}
    75%{opacity: 0;}
    100%{opacity: 1;}
}
h1{
    animation:h 3s linear infinite;
    margin: 0 auto;
    margin-left: 520px;
}
@keyframes h {
    0%{opacity: 0;}
    50%{opacity: 80%;}
    100%{opacity: 0;}
}